.heading{
    text-align: center;
    font-weight: 900;
    // padding: 50px 0px 0px 0px;
    color: #221638 ;
}
.title-separator {
    width: 46px;
    height: 3px;
    background-color: #1c87f1;
    align-items: center;
    display: inline-block;
    margin: 0 auto;
    top: 4px;
    display: flex;
    margin-bottom: 50px;
}
