.covid-content{

    width : 100%;
    height: auto !important;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    // grid-template-columns: 100px 65%;

    // grid-template-rows: auto;
    // grid-column-gap: 10px !important;
 
    margin : 20px 10px;
    --sn-size : 80px;
}


.covid-sn{

     
    position: relative;   
    margin : auto 20px;
    

}

.covid-circle{
    background-color: rgba(255, 255, 255, 0.733);
    border-style: solid;
    border-color : white;
    border-bottom-color: rgb(33, 113, 204);
    border-radius: 100%;    
    width : var(--sn-size) !important;
    height: var(--sn-size) !important;  
    display: flex;
    justify-content: center;
    

}
.covid-sn p{
    margin : auto !important;
    font-size : 30px !important;
    font-weight: 900;

}

.covid-ad{
 display: flex;
 justify-content: flex-start;
 align-items: center;
}


.animate5-container{
    position: relative !important;
    display: flex;
    // justify-content: center;
    align-content: flex-end !important;
    width: 100%;
    height: 427px !important;
    max-height: 100%;
    margin-top : 40px;
     
    // height: 100% !important;
   
}

@media (max-width : 1000px)
{
    .animate5-container{
         justify-content: center;
        height: auto;
        margin-top : opx;
        // top : 0%;
        // left : 0%; 
    }

    
}

@media (max-width : 500px) {

    .covid-content{
   
        --sn-size : 60px;
        margin : 20px 5px;
    }

    .covid-sn p{
        margin : auto !important;
        font-size : 20px !important;
        font-weight: 900;
    }

    .advisory-box{
        padding: 0px !important;
    }
    .animate5-container{
        height: 300px !important;
    }
    
}