.navbar-parent{
  background-color : #0074e1 !important;
}

:root{
  --pad-nav : 11.5px;
}

.dropdown-menu .dropdown-item:hover > a {
  color: white !important;
 
}
 
.topStrip {
  display: inline-grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto;
  grid-column-gap: auto;
  background: #efefef;
  padding: 1% 1%;
  transition: all 0.2s ease-out;
  -webkit-transition: all 0.2s ease-out;
  font-size: 12px;
  height: auto;
  width: 100%;
}
.leftLinks , .rightLinks{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;   
  align-items: center;
  position: relative;
  margin: 0;
}

.leftLinks{
  left: 0;
  justify-content: start;
}
.rightLinks{  
  justify-content: flex-end;
}
 
.leftLinks li {
  padding: 0 7px 0 8px;
  position: relative;
  font-size: 1.083em;
  margin: 0;
}

.rightLinks li {
   padding: 0 7px 0 8px;
  position: relative;
  font-size: 1.083em;
  margin: 0;
}

.topStrip a {
  color: #595656;
  text-decoration: none;
}


 
.navbar-light .navbar-toggler{
  border-color: transparent !important;
}
.navbar-light .navbar-toggler-icon { 
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='white' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") !important;
   
}

.navbar-light .dropdown-menu {

  // background-color: #343a40!important;
  // background-color: black !important;
  border-color : #0074e1;
  // padding : 5px !important;
}
.navbar-light .dropdown-menu .dropdown-item{
  // padding : 5px !important;
  a{
    color: #0074e1;
  }
  a:hover{
    color: #fff
  }
}
.dropdown-item:focus, .dropdown-item:hover{
    text-decoration: none;
    background-color: #0074e1 ;
}
.dropdown-item.active, .dropdown-item:active {
  color: #fff;
  text-decoration: none;
  background-color: #0074e1;
}
.navbar .nav-link {
  color: white !important;
  font-weight: 900;
  padding-left : 20px !important;
  transition: 0.4s ease ;
}
 

.navbar .nav-link:hover {
   font-weight: 900;
}

.nav-bar .fa-user-circle{
  transform: scale(0.9);
}

@media (max-width : 657px){
  .topStrip{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 0;
  }

  .leftLinks , .rightLinks{
    justify-content: center;
  
  }
  .topStrip li{
    margin-top: 2px;
    
  }
}
@media (max-width: 990px){

  .nav-link-item:hover{
    text-decoration: none;
  }

  .nav-link, .profile-logo{
    border-style: solid;
    border-width: 2px;
    border-color: transparent;
    border-bottom-color: #fff;
  }

.navbar-collapse {
  padding-top : 20px;
  padding-bottom: 20px;
}

}


@media (min-width: 991px){
  .animation{
    position: absolute;
    bottom : 0;
    top: 14.6%;
    left : calc( 130px + var(--pad-nav));
    // left: 125px;
    width : 55px;
    height : 71%; 
    z-index: -1;
    background-color: #195c9f !important;
    transition: all 0.5s ease 0s;
  }

 
 
 .nav-link-item:nth-child(1):hover~.animation
  { 
    
    left: calc(130px + var(--pad-nav));
  }

  
  .nav-link-item:nth-child(2):hover~.animation
  { 
    
    left : calc(193px + 2 * var(--pad-nav)) !important;
    width : 90px !important;
  }
  
  .nav-link-item:nth-child(3):hover~.animation
  { 
    
    left: calc(290px + 3 * var(--pad-nav)) !important;
    width : 85px !important;
  }

  .nav-link-item:nth-child(4):hover~.animation
  { 
    
    left: calc(383px + 4 * var(--pad-nav)) !important;
    width: 65px !important;
  }
  
   .nav-link-item:nth-child(5):hover~.animation
  { 
    
    left: calc(455px + 5 * var(--pad-nav)) !important;
    width : 115px !important;
  }
  
  .nav-link-item:nth-child(6):hover~.animation
  {       
    left: calc(570px + 6 * var(--pad-nav)) !important;
    width : 55px !important;
  }
  
   .nav-link-item:nth-child(7):hover~.animation
  { 
    
    left: calc(625px + 7 * var(--pad-nav)) !important;
    width : 90px !important;
  }
 
  .navbar .right-nav:hover{
    // background-color: #f7ba03;
    // border-style : ridge;
    // border-color: transparent;
    // border-width: 0px;
    // border-bottom-width: 1px;
    // border-bottom-color: yellow ;
    // color : #f7ba03 !important;
    text-decoration: none;

  }

}

//  .petrol-price{

//   background: linear-gradient(60deg, hsl(51, 100%, 32%), #c49600);
  
// }

// .diesel-price{

//   background: linear-gradient(60deg, #e4e0d6, #c5c2c2);
  
// }

// .lube-price{

//   background: linear-gradient(60deg, #292826, #685c5c);
  
// }

.pricecard {
  background-color: #fff;
  box-shadow: 5px 5px 22px #61615fa2 !important;
  border: 1px solid #fff;
  margin-top: 10px;
  margin-bottom: 10px;
}