.button{
    width: 100%;
    border-radius: 30px;
}

// #4267B2 facebook
// #00acee Twitter
// #db4a39 google+

.loginform .form-group .form-control{
    border-radius: 30px!important;
    padding-inline: 20px;
    height: calc(2.5em + .75rem + 2px);
    
}
.loginform textarea.form-control {
    height: auto!important;
}