@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');

body {
  margin: 0;
  
  font-family: 'Lato', sans-serif!important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



:root{

  --font-size-h : 40px ;
  --font-size-p : 16px;
}


h1{
  font-size: var(--font-size-h) !important;
  
}

p{
  font-size: var(--font-size-p) !important; 
}

@media (max-width : 500px) {

  :root{
    --font-size-h : 30px !important;
    --font-size-p : 13px;
  }
  
}